/*        ,gggg,     ,ggggggg,    _,gggggg,_      ,ggg, ,ggggggg,
*       d8" "8I   ,dP""""""Y8b ,d8P""d8P"Y8b,   dP""Y8,8P"""""Y8b
*       88  ,dP   d8'    a  Y8,d8'   Y8   "8b,dPYb, `8dP'     `88
*    8888888P"    88     "Y8P'd8'    `Ybaaad88P' `"  88'       88
*       88        `8baaaa     8P       `""""Y8       88        88
*       88       ,d8P""""     8b            d8       88        88
*  ,aa,_88       d8"          Y8,          ,8P       88        88
* dP" "88P       Y8,          `Y8,        ,8P'       88        88
* Yb,_,d88b,,_   `Yba,,_____,  `Y8b,,__,,d8P'        88        Y8,
*  "Y8P"  "Y88888  `"Y8888888    `"Y8888P"'          88        `Y8
* 
* #######################################################################
*
* File: styles.css
* Date: 31/01/2025
* 
* #######################################################################
*/

body {
  background-color: #0B0E14;
}

.page-container {
  text-align: center;
}

.title-block {
  display: inline-block;
  text-align: left;
  margin-top: 2vh;
}

h1 {
  color: #E6B450;
  text-align: center;
  font-size: 60px;
  margin: 0;
}

.title-sub {
  font-size: 12px;
  align-self: flex-start;
  margin: 0;
  color: white;
}

.book {
  transition: transform 1s ease-out;
}

.book-png {
  width: 100%; 
  height: auto;
  max-width: 500px;
  image-rendering: pixelated; /* Preserve the pixelated look */
  image-rendering: crisp-edges; /* Fallback for some browsers */
  cursor: pointer;
}

.scale-up {
  transform: scale(5);
}